### Importing Libraries & Loading in Data

In [100]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [101]:
train.isna().sum() # finding missing values

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### Handeling Missing Values

In [102]:
# "M" values indicate "Missing"
train['Embarked'] = train['Embarked'].fillna('M') 
test['Embarked'] = test['Embarked'].fillna('M') 

# Assuming missing values were of averagely aged individuals
train['Age'] = train['Age'].fillna(29.699)
test['Age'] = test['Age'].fillna(29.699)

In [103]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
e = LabelEncoder()

# encode Sex into numerical values: 1=male 0=female
train['sex_encoded'] = e.fit_transform(train['Sex'])
test['sex_encoded'] = e.fit_transform(test['Sex'])

# encode embarked
train['embark_ec'] = e.fit_transform(train['Embarked'])
test['embark_ec'] = e.fit_transform(test['Embarked'])

### Defining Independent and Dependent Variables

In [105]:
X = np.array(train[['Pclass', 'Age', 'sex_encoded', 'embark_ec']])
y = np.array(train['Survived'])

test_X = test[['Pclass', 'Age', 'sex_encoded', 'embark_ec']]

from sklearn import linear_model # fitting the model
reg = linear_model.LinearRegression()
reg.fit(X,y)

LinearRegression()

### Creating predictions

In [106]:
test_y = reg.predict(test_X)
print(test_y)

[ 0.10133476  0.50461309  0.14255555  0.11026681  0.62853559  0.17470652
  0.61712509  0.29275926  0.70485259  0.14000822  0.09688814  0.37115681
  0.97864979  0.10935396  0.85968418  0.85264673  0.27639186  0.19649761
  0.60375109  0.57101628  0.3830341   0.19949102  0.94544351  0.5515687
  0.91121667 -0.00374189  1.04009608  0.18906226  0.39594131  0.15337753
  0.17379366  0.30267306  0.57400969  0.59037242  0.5069566   0.20888986
  0.59037242  0.63349249  0.12018061  0.09688814  0.10727341  0.45195923
  0.04087021  0.76641594  0.86959798  0.12018061  0.4326031   0.12513284
  0.85173387  0.55913899  0.48020861  0.34429175  0.81598494  0.95386528
  0.33091308  0.22277881  0.07061161  0.12018061  0.09688814  0.97069948
  0.15983582  0.26301786  0.15487892  0.65678029  0.5912239   0.76790796
  0.67660789  0.36619991  0.5019997   0.79524448  0.64686649  0.14000822
  0.59383729  0.51439195  0.97565638  0.49456435  0.09688814  0.82002898
  0.27293166  0.64686649  0.27085111  0.2670619   0.3562861   0.09688814
  0.30266838  0.15337753  0.63199579  0.64836319  0.61861711  0.41172486
  0.62853559  0.09688814  0.95882219  0.09688814  0.5317411   0.12018061
  0.71593408  0.10035301  0.63844939  0.08052541  0.93600118  0.28780236
  0.12513284  0.11522371  0.71476639  0.10530991  0.16825291  0.12513284
  0.09688814  0.32993601  0.27489515  0.61861711  0.97069948  0.67412944
  0.78037378  0.21136831  0.15337753  0.7326305   0.4772152   0.77137284
  0.85564014  0.12513284  0.97565638  0.10530991  0.12513284  0.65332009
  0.13505132  0.61861711  0.21344886  0.12513751  0.08548231  0.3929479
  0.59037242  0.15337753  0.03095641  0.12513751  0.16923466  0.29275926
  0.62357869  0.04582711  0.68801839  0.92908078  0.3532927   0.28284546
  0.39098441  0.09043921  0.45195923  0.13505132  0.45195923  0.27293166
  1.03513918  0.15337753 -0.05578934  0.55913899  0.17966342  0.12513751
  0.94890838  0.62357869  0.39098441  0.60870799  0.61861711  0.26589421
  0.78624354  0.09688814  0.21840576  0.60870799  0.4177324   0.15487892
  1.0019329   0.62853559  0.09688814  0.16675621  0.13009442  0.15337753
  0.04582711  0.84076944  0.81598494  0.387991    0.73667454  0.83190627
  0.27293166  0.4722583   1.00343429  0.12513284  1.01531158  0.22336266
  0.81102804  0.15983582  0.59037242  0.22336266  0.25310406  0.45195923
  0.18709877  0.14751245  0.38198346  0.08052541  0.6259222   0.64836319
  0.30762996  0.59037242  0.61861711  0.24246734  0.4226893   0.87546774
  0.29771616  0.50844863  0.59234059  0.30267306  0.98557018  0.12018061
  0.08548231  0.09688814  0.33737136  0.61770893  0.54922519  0.39098441
  0.61861711  0.3166309   0.90130287  0.09688814  0.82290533  0.14000822
  0.80607114  0.14000822  0.88643217  0.64686181  0.13009442  0.61861711
  0.04334866  0.24319026  0.35224206  0.98856359  0.14000822  0.12513284
  0.4623445   0.14496512  0.338422    0.20145451  0.82589874  0.91121667
  0.87651837  0.69206244  0.4326031   0.09688814  0.09688814  0.39594131
  0.80607114  0.21344886  0.77137284  0.64686181  0.91056259  0.14496512
  0.5218273   0.12513751  0.08300386  0.09688814  0.12513284  0.10530991
  0.82094184  0.14000822  0.06317626  0.14000822  0.77137284  0.7326305
  0.32942105  0.09688814  0.45195923  0.09688814  0.59037242  0.15983582
  0.4276462   0.12513284  1.02026848  0.61861711  0.15337753  0.81598494
  0.28284546  0.22336266  0.27293166  0.31258686  0.62357869  0.24038544
  0.61861711  0.74946469  0.7276736   0.06565471  0.09688814  0.48020861
  0.15337753  0.09688814  0.45195923  0.61712509  0.15337753  0.3364585
  0.06565471  0.11522371  0.96665543  0.15337753  0.45046721  0.10035301
  0.08548231  0.33091308  0.20849196  0.12513751  0.61861711  0.77541688
  0.45046721  0.23998889  0.3265447   0.51452689  0.15487892  0.19154071
  0.09688814  0.58242679  0.87651837  0.68156479  0.3731203   0.32745756
  0.11026681  0.31258686  0.11522371  0.17667001  0.29275926  0.43559651
  0.89933938  0.13009442  0.85564014  0.4276462   0.27788856  0.31754376
  0.67719174  0.4623445   0.15337753  0.69989569  0.11026681  0.45046721
  0.26301786  0.10727341  0.29771616  0.15337753  0.33241446  0.08548231
  0.09688814  0.86164767  0.09688814  0.65827699  0.29275926  0.60571458
  0.30267306  0.76145904  0.92608738  0.29771616  0.33241446  0.17875056
  0.73674472  0.3513292   0.80020138  0.09688814  0.12513284  0.58888039
  0.17222807  0.85264673  0.76145904  0.11026681  1.02522538  0.59037242
  0.15337753  0.62853559  0.92608738  0.33437795  0.31754376  0.99548398
  0.3562861   0.20353506  0.82498588  0.92608738  0.62853559  0.31754376
  0.3265447   0.21931862  0.12513284  0.14346841  0.59037242  0.64340629
  0.27442369  0.79615734  0.12513751  0.13909536  0.16825291  0.21436172
  0.48516551  0.83985658  0.17966342  0.18866436  0.10035301  1.00343429
  0.15338221  0.91121667  0.13505132  0.11868391  0.94395148  0.23327646
  1.04009608  0.51490691  0.4425169   0.37899005  0.30762996  0.4078186
  0.61861711  0.7227167   0.61861711  0.93749788  0.59879419  0.09688814
  0.95582878  0.05326246  0.09688814  0.15337753]

In [108]:
predictions = {}
for index, pred in enumerate(test_y):
    key = test['PassengerId'][index]
    if pred < .5:
        value = 0
    else:
        value = 1
    predictions[key] = value

predictions

{892: 0,
 893: 1,
 894: 0,
 895: 0,
 896: 1,
 897: 0,
 898: 1,
 899: 0,
 900: 1,
 901: 0,
 902: 0,
 903: 0,
 904: 1,
 905: 0,
 906: 1,
 907: 1,
 908: 0,
 909: 0,
 910: 1,
 911: 1,
 912: 0,
 913: 0,
 914: 1,
 915: 1,
 916: 1,
 917: 0,
 918: 1,
 919: 0,
 920: 0,
 921: 0,
 922: 0,
 923: 0,
 924: 1,
 925: 1,
 926: 1,
 927: 0,
 928: 1,
 929: 1,
 930: 0,
 931: 0,
 932: 0,
 933: 0,
 934: 0,
 935: 1,
 936: 1,
 937: 0,
 938: 0,
 939: 0,
 940: 1,
 941: 1,
 942: 0,
 943: 0,
 944: 1,
 945: 1,
 946: 0,
 947: 0,
 948: 0,
 949: 0,
 950: 0,
 951: 1,
 952: 0,
 953: 0,
 954: 0,
 955: 1,
 956: 1,
 957: 1,
 958: 1,
 959: 0,
 960: 1,
 961: 1,
 962: 1,
 963: 0,
 964: 1,
 965: 1,
 966: 1,
 967: 0,
 968: 0,
 969: 1,
 970: 0,
 971: 1,
 972: 0,
 973: 0,
 974: 0,
 975: 0,
 976: 0,
 977: 0,
 978: 1,
 979: 1,
 980: 1,
 981: 0,
 982: 1,
 983: 0,
 984: 1,
 985: 0,
 986: 1,
 987: 0,
 988: 1,
 989: 0,
 990: 1,
 991: 0,
 992: 1,
 993: 0,
 994: 0,
 995: 0,
 996: 1,
 997: 0,
 998: 0,
 999: 0,
 1000: 0,
 1001: 0,
 1002: 0,
 1003: 1,
 1004: 1,
 1005: 1,
 1006: 1,
 1007: 0,
 1008: 0,
 1009: 1,
 1010: 0,
 1011: 1,
 1012: 1,
 1013: 0,
 1014: 1,
 1015: 0,
 1016: 0,
 1017: 1,
 1018: 0,
 1019: 1,
 1020: 0,
 1021: 0,
 1022: 0,
 1023: 0,
 1024: 1,
 1025: 0,
 1026: 0,
 1027: 0,
 1028: 0,
 1029: 0,
 1030: 1,
 1031: 0,
 1032: 1,
 1033: 1,
 1034: 0,
 1035: 0,
 1036: 0,
 1037: 0,
 1038: 0,
 1039: 0,
 1040: 0,
 1041: 0,
 1042: 1,
 1043: 0,
 1044: 0,
 1045: 1,
 1046: 0,
 1047: 0,
 1048: 1,
 1049: 1,
 1050: 0,
 1051: 1,
 1052: 1,
 1053: 0,
 1054: 1,
 1055: 0,
 1056: 0,
 1057: 1,
 1058: 0,
 1059: 0,
 1060: 1,
 1061: 1,
 1062: 0,
 1063: 0,
 1064: 0,
 1065: 0,
 1066: 0,
 1067: 1,
 1068: 1,
 1069: 0,
 1070: 1,
 1071: 1,
 1072: 0,
 1073: 0,
 1074: 1,
 1075: 0,
 1076: 1,
 1077: 0,
 1078: 1,
 1079: 0,
 1080: 1,
 1081: 0,
 1082: 0,
 1083: 0,
 1084: 0,
 1085: 0,
 1086: 0,
 1087: 0,
 1088: 1,
 1089: 1,
 1090: 0,
 1091: 1,
 1092: 1,
 1093: 0,
 1094: 0,
 1095: 1,
 1096: 0,
 1097: 1,
 1098: 1,
 1099: 0,
 1100: 1,
 1101: 0,
 1102: 0,
 1103: 0,
 1104: 0,
 1105: 1,
 1106: 1,
 1107: 0,
 1108: 1,
 1109: 0,
 1110: 1,
 1111: 0,
 1112: 1,
 1113: 0,
 1114: 1,
 1115: 0,
 1116: 1,
 1117: 1,
 1118: 0,
 1119: 1,
 1120: 0,
 1121: 0,
 1122: 0,
 1123: 1,
 1124: 0,
 1125: 0,
 1126: 0,
 1127: 0,
 1128: 0,
 1129: 0,
 1130: 1,
 1131: 1,
 1132: 1,
 1133: 1,
 1134: 0,
 1135: 0,
 1136: 0,
 1137: 0,
 1138: 1,
 1139: 0,
 1140: 1,
 1141: 1,
 1142: 1,
 1143: 0,
 1144: 1,
 1145: 0,
 1146: 0,
 1147: 0,
 1148: 0,
 1149: 0,
 1150: 1,
 1151: 0,
 1152: 0,
 1153: 0,
 1154: 1,
 1155: 1,
 1156: 0,
 1157: 0,
 1158: 0,
 1159: 0,
 1160: 1,
 1161: 0,
 1162: 0,
 1163: 0,
 1164: 1,
 1165: 1,
 1166: 0,
 1167: 1,
 1168: 0,
 1169: 0,
 1170: 0,
 1171: 0,
 1172: 1,
 1173: 0,
 1174: 1,
 1175: 1,
 1176: 1,
 1177: 0,
 1178: 0,
 1179: 0,
 1180: 0,
 1181: 0,
 1182: 0,
 1183: 1,
 1184: 0,
 1185: 0,
 1186: 0,
 1187: 0,
 1188: 1,
 1189: 0,
 1190: 0,
 1191: 0,
 1192: 0,
 1193: 0,
 1194: 0,
 1195: 0,
 1196: 1,
 1197: 1,
 1198: 0,
 1199: 0,
 1200: 0,
 1201: 1,
 1202: 0,
 1203: 0,
 1204: 0,
 1205: 1,
 1206: 1,
 1207: 1,
 1208: 0,
 1209: 0,
 1210: 0,
 1211: 0,
 1212: 0,
 1213: 0,
 1214: 0,
 1215: 0,
 1216: 1,
 1217: 0,
 1218: 1,
 1219: 0,
 1220: 0,
 1221: 0,
 1222: 1,
 1223: 0,
 1224: 0,
 1225: 1,
 1226: 0,
 1227: 0,
 1228: 0,
 1229: 0,
 1230: 0,
 1231: 0,
 1232: 0,
 1233: 0,
 1234: 0,
 1235: 1,
 1236: 0,
 1237: 1,
 1238: 0,
 1239: 1,
 1240: 0,
 1241: 1,
 1242: 1,
 1243: 0,
 1244: 0,
 1245: 0,
 1246: 1,
 1247: 0,
 1248: 1,
 1249: 0,
 1250: 0,
 1251: 1,
 1252: 0,
 1253: 1,
 1254: 1,
 1255: 0,
 1256: 1,
 1257: 1,
 1258: 0,
 1259: 1,
 1260: 1,
 1261: 0,
 1262: 0,
 1263: 1,
 1264: 0,
 1265: 0,
 1266: 1,
 1267: 1,
 1268: 1,
 1269: 0,
 1270: 0,
 1271: 0,
 1272: 0,
 1273: 0,
 1274: 1,
 1275: 1,
 1276: 0,
 1277: 1,
 1278: 0,
 1279: 0,
 1280: 0,
 1281: 0,
 1282: 0,
 1283: 1,
 1284: 0,
 1285: 0,
 1286: 0,
 1287: 1,
 1288: 0,
 1289: 1,
 1290: 0,
 1291: 0,
 1292: 1,
 1293: 0,
 1294: 1,
 1295: 1,
 1296: 0,
 1297: 0,
 1298: 0,
 1299: 0,
 1300: 1,
 1301: 1,
 1302: 1,
 1303: 1,
 1304: 1,
 1305: 0,
 1306: 1,
 1307: 0,
 1308: 0,
 1309: 0}

In [112]:
sub_df = pd.DataFrame(predictions.items(), columns=['PassengerId', 'Survived'])
sub_df.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [114]:
sub_df.to_csv('submission1.csv',index=False)